body {
    /* background-color: #D9D9D9; */
    background-color: #215FAC;
}

.main-container {
    padding: 60px 100px;
    /* Centers the "Create User" button on the page */
    /* text-align: center; */
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-info-container {
    /* padding: 0 200px; */
    text-align: center;
}

.cancel-button {
    padding: 10px;
    border: none;
    /* background-color: #215FAC; */
    background-color: #9e9d9d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.cancel-button:hover {
    background-color: #F3CD3B;
}

.save-button {
    padding: 10px 25px;
    border: none;
    /* background-color: #215FAC; */
    background-color: #9e9d9d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.save-button:hover {
    background-color: #F3CD3B;
}