body {
    /* background-color: #D9D9D9; */
    background-color: #215FAC;
}

.main-container {
    padding: 40px 100px;
    /* Centers the "Create User" button on the page */
    text-align: center;
}

.user-table-container {
    background-color: #FFFFFF;
    padding: 15px 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.user-table {
    width: 100%; /* Stretches table out inside <div>*/
}

.user-table-head {
    font-size: 25px;
    color: #215FAC; /* Determines font color*/
}

.user-table-row {
    border-bottom: 1px solid #D9D9D9;
}

.edit-button {
    padding: 2px 16px;
    border: none;
    /* background-color: #215FAC; */
    background-color: #9e9d9d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.edit-button:hover {
    background-color: #F3CD3B;
}

/* 215FAC, blue*/
/* F3CD3B, yellow */