{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'book.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
<div class="book-container">
    <div class="book-image-container">
        <img src="\{{book.image}}" alt="{{book.title}} cover" class="book-image">
    </div>
    <div class="book-content">
        <div class="book-header">
            <h1 class="book-title">{{book.title}}</h1>
            <p>By {{book.author}}</p>
            <p>Copies Available: {{book.available}}</p>
        </div>
        <div class="book-attributes">
            <div class="book-attribute">
                <div class="attribute-label">Publisher</div>
                <div class="attribute-value">{{book.publisher}}</div>
            </div>
            <div class="book-attribute">
                <div class="attribute-label">Year</div>
                <div class="attribute-value">{{book.year}}</div>
            </div>
            <div class="book-attribute">
                <div class="attribute-label">ISBN</div>
                <div class="attribute-value">{{book.isbn}}</div>
            </div>
        </div>

        <div class="reserveform">
            <form name='reserveform' action="{% url 'Book' bookname=book.title %}" method="POST">
                {% csrf_token %}
                <button name="reserve" value="{{book.title}}">Reserve</button>
            </form>
        </div>

        {% if status == 'admin' %}
        <button class="remove-book-button" data-book-id="{{ book.id }}">Remove Book</button>
        {% endif %}
        
        {% if status == 'admin' %}
        <div class="edit-book-button">
            <form action="{% url 'editBook' book_id=book.id %}" method="GET">
                {% csrf_token %}
                <button type="submit">Edit Book</button>
            </form>
        </div>
        {% endif %}

        {{message}}

        <script>
            // JavaScript function to display the confirmation pop-up
            document.addEventListener("DOMContentLoaded", function () {
                const removeButtons = document.querySelectorAll(".remove-book-button");
                removeButtons.forEach(function (button) {
                    button.addEventListener("click", function () {
                        const bookId = this.getAttribute("data-book-id");
                        const confirmed = confirm("Are you sure you'd like to remove this book?");
                        if (confirmed) {
                            // Redirect to the Django view for book removal with the bookId parameter
                            window.location.href = "{% url 'remove_book' %}?book_id=" + bookId;
                        }
                    });
                });
            });
        </script>
    
        
    </div>
</div>
{% endblock %}