{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
    <link href="{% static 'edituser.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
    <div style="margin-top: 50px;"></div> 
    
    <div class="main-container">
        <div class="user-info-container">
            <h1>Edit User</h1>
            <br>
            <form method="post">{% csrf_token%}
                <h3>{{ user.username }}</h1>
                <br><br>
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: right;"><h3 style="font-size: 18;">Email:</h3></td>
                        <td>
                            <input
                                type="text"
                                name="_email"
                                value="{{ user.email }}"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><h3 style="font-size: 18;">Password:</h3></td>
                        <td>
                            <input
                                type="text"
                                name="_password"
                                value=""
                            >
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><h3 style="font-size: 18;">User Type:</h3></td>
                        <td>
                            <input
                                type="text"
                                name="_user_type"
                                value="{{ user.user_type }}"
                            >
                        </td>
                    </tr>
                </table>
                <br>
                <input class="save-button" type="submit" value="Save"/>
            </form>
            <a href="{% url 'Users' %}"><button class="cancel-button">Cancel</button></a>
        </div>
    </div>
{% endblock %}