{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
    <link href="{% static 'users.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
    <h1>Create User</h1>

    <a href="{% url 'Users' %}">
        <button>Cancel</button>
    </a>
    <br>
    <form method="post">{% csrf_token%}
        <table>
            <tr>
                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                >
            </tr>
            <tr>
                <input
                    type="text"
                    name="password"
                    placeholder="Password"
                >
            </tr>
            <tr>
                <input
                    type="text"
                    name="name"
                    placeholder="Name"
                >
            </tr>
            <tr>
                <input
                    type="text"
                    name="email"
                    placeholder="Email"
                >
            </tr>
            <tr>
                <input
                    type="text"
                    name="user_type"
                    placeholder="User Type"
                >
            </tr>
        </table>
        <br>
        <input type="submit" value="Create"/>
    </form>
{% endblock %}