{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
  <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
<div class="container">
  <div class="intro-image-container">
    <!-- Currently have a AI image as the stand-in; should replace in the future --> 
    <img class="intro-image" src="{% static 'images/library_photo.jpg' %}" alt="MPS Library Introduction">
    <div class="intro-text">MPS Library</div>
  </div>

  <div style="margin-top: 50px;"></div> 

  <h1 style="color: #215FAC;">Fiction</h1>
  <div id="bookCarouselF" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          {% for book in books %}
          <div class="col-md-4">
            <a href="{% url 'Book' bookname=book.title %}">
              <div class="book-card">
                <img class="book-image" src="{{ book.image.url }}" alt="{{ book.title }} Cover">
                <div class="book-info">
                  <h3>{{ book.title }}</h3>
                  <p>Author: {{ book.author }}</p>
                  <p>Publisher: {{ book.publisher }}</p>
                  <p>Copies: {{ book.copies }}</p>
                  <p>Available: {{ book.available }}</p>
                </div>
              </div>
            </a>
          </div>
          {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
      </div>
      <div class="carousel-item{% if forloop.last %} active{% endif %}">
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#bookCarouselF" role="button" data-bs-slide="prev" style="left: -50px;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#bookCarouselF" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div style="margin-top: 50px;"></div> 

  <h1 style="color: #215FAC;">Non-fiction</h1>
  <div id="bookCarouselNF" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          {% for book in books %}
          <div class="col-md-4">
            <a href="{% url 'Book' bookname=book.title %}">
              <div class="book-card">
                <img class="book-image" src="{{ book.image.url }}" alt="{{ book.title }} Cover">
                <div class="book-info">
                  <h3>{{ book.title }}</h3>
                  <p>Author: {{ book.author }}</p>
                  <p>Publisher: {{ book.publisher }}</p>
                  <p>Copies: {{ book.copies }}</p>
                  <p>Available: {{ book.available }}</p>
                </div>
              </div>
            </a>
          </div>
          {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
      </div>
      <div class="carousel-item{% if forloop.last %} active{% endif %}">
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#bookCarouselNF" role="button" data-bs-slide="prev" style="left: -50px;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#bookCarouselNF" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div style="margin-top: 100px;"></div> 

  <!-- Link doesn't work because we don't have a books page, change this when page is made -->
  <div class="view-all-books-link">
    <a href="/view-all-books">View All Books</a>
  </div>

</div>
{% endblock %}
