{% load static %}
<html>
  <head>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/mps_logo1.png' %}" alt=" Logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link link-light" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="#">MEMBERS</a>
            </li>
            <!-- Add more navigation links here -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Book Dashboard</h1>
      <div class="book-container">
          {% for book in books %}
          <div class="book-card">
              <img class="book-image" src="{{ book.image.url }}" alt="{{ book.title }} Cover">
              <div class="book-info">
                  <h3>{{ book.title }}</h3>
                  <p>Author: {{ book.author }}</p>
                  <p>Publisher: {{ book.publisher }}</p>
                  <p>Copies: {{ book.copies }}</p>
                  <p>Available: {{ book.available }}</p>
                  <!-- end of book desciptions but can add more later on if needed -->
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </body>

</html>
