{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
  <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
  <div class="container">
  <!-- Display books -->
    <div class="container">
      <h1>Book Dashboard</h1>
      <div class="book-container">
        {% for book in books %}
        <div class="book-card">
          <img class="book-image" src="{{ book.image.url }}" alt="{{ book.title }} Cover">
          <div class="book-info">
            <h3>{{ book.title }}</h3>
            <p>Author: {{ book.author }}</p>
            <p>Publisher: {{ book.publisher }}</p>
            <p>Copies: {{ book.copies }}</p>
            <p>Available: {{ book.available }}</p>
            <!-- end of book desciptions but can add more later on if needed -->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
