{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
    <link href="{% static 'users.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
    <div class="main-container">
        <div class="user-table-container">
            <table class="user-table">
                <tr class="user-table-head">
                    <td>Username</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Account Type</td>
                </tr>
            
                {% for user in users %}
                    <tr class="user-table-row">
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.user_type}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <a href="{% url 'CreateUser' %}">
            <button>Create User</button>
        </a>
    </div>
    
{% endblock %}